<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="UTF-8"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="UTF-8">	<![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="UTF-8"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="noIE" lang="UTF-8" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
	<head>
		<!-- meta -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>
		<title>MAIN</title>

		<link rel="stylesheet" th:href="@{../css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{../css/ionicons.min.css}">
		<link rel="stylesheet" th:href="@{../css/owl.carousel.css}">
		<link rel="stylesheet" th:href="@{../css/owl.theme.css}">
	    <link rel="stylesheet" th:href="@{../css/main.css}">

	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.js"></script>
			<script src="assets/js/respond.js"></script>
		<![endif]-->

		<!--[if IE 8]>
	    	<script src="assets/js/selectivizr.js"></script>
	    <![endif]-->
	</head>
<body>

	<!-- Home -->
	<section class="home" id="home">
		<div class="home-bg">
			<div class="container-fluid">
				 <div class="row">
					<div class="col-xs-12 col-sm-5 col-sm-offset-6">
						<div class="header-wrapper">
							<h1 class="header-title">공간이 만든 공간</h1>
							<p class="header-sub">
								새로운 생각은 어떻게 만들어지는가
							</p>
							<p class="description">
								이 책은 건축을 중심으로 교류, 결합, 변종이 만들어 낸 문화의 진화를 이야기한다. 각 지역마다 지리적·기후적인 환경 제약이나 특징이 있고, 인간의 환경적 제약을 해결하려는 노력은 지역적 특성에 맞는 생활양식과 문화를 만들었다. 건축물은 그런 문화의 물리적 결정체다.
							</p>
							<a class="btn btn-default btn-lg bttn" th:href="@{/book/read?pno=22&page=1}" role="button">About The Book</a>
							<a class="btn btn-default btn-lg red" th:href="@{/book/list}" role="button">another books</a>
						</div> <!-- /.header-wrapper -->
					</div>	<!-- .col-sm-5 -->
				</div> <!-- .row -->
			</div> <!-- /.container-fluid -->
		</div> <!-- .home-bg -->
	</section> <!-- #home -->


	<!-- Navigation -->
	<section class="navigation_bar">
		

		<nav class="navbar navbar-default navigation">
			<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a th:href="@{#index.html}" class="logo navbar-brand"><span>Yoo&nbsp;</span>Hyun Joon</a>
				</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="#book">Book <span class="sr-only">(current)</span></a></li>
						<li><a href="#reviews">Reviews</a></li>
						<li><a href="#blog">Author</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container -->
		</nav>





	</section> <!-- .navigation_bar -->


	<!-- Book -->
	<section class="book" id="book">
		<div class="book-bg">
			<div class="container section-wrapper">
				<div class="row">
					<div class="col-sm-6">
						<h2 class="section">
							도시는 무엇으로 사는가
						</h2>
						<p class="light">
							작은 골목부터 뉴욕의 센트럴파크에 이르기까지,
						</p>
						<p class="body">
							도시 속에 담겨 있는 정치, 경제, 문화, 역사, 과학을 읽어 내고, 도시와 인간의 삶이 서로 영향을 주면서 공진화하는 모습을 보여준다.
						</p>
						<p class="body">
							자신들이 만든 도시에 인간의 삶은 어떤 영향을 받는지, 과연 더 행복해지는지 아니면 피폐해지고 있는지를 인문학과 자연과학을 종횡무진하며 도시의 답변을 들려준다.
						</p>
					</div>
				</div>
			</div> <!-- .container -->
		</div> <!-- /.book-bg -->
	</section> <!-- #book --> 
	<section class="cta-1 container-fluid">
		공간이 <strong class="regular">곧</strong> 메세지이다. <br> 건축 설계는 <strong class="regular"> 관계를 디자인하는 것</strong> 과 같다.
	</section> <!-- /.cta-1 -->
 	
 	<section class="reviews section-wrapper" id="reviews">
 		<div class="container">
 		<div class="row">
 			<div class="col-md-6">
 				<h2>
 					Reviews
 				</h2>
 			</div>
 			<div class="col-md-6">
 				<div class="stars">
	 				<h3 class="title">
	 					4/5(6 Reviews)
	 				</h3>
	 				<div class="gain">
	 					<i class="ion-star"></i>
		 				<i class="ion-star"></i>
		 				<i class="ion-star"></i>
		 				<i class="ion-star"></i>
						<i class="ion-star"></i>
	 				</div>
 				</div>
 			</div>
 		</div>
	 		<div class="owl-carousel">
	 			<div class="item">
	 				<img src="../images/people.jpg" alt="Yeeak" class="reviewer">
	 				<h3>
	 					punch
	 				</h3>
	 				<p class="addr">
	 					공간이 만든 공간
	 				</p>
	 				<div class="review-gain">
	 					<i class="ion-star"></i>
		 				<i class="ion-star"></i>
		 				<i class="ion-star"></i>
		 				<i class="ion-star"></i>
		 				<i class="ion-star"></i>
	 				</div>
	 				<p class="details">
	 					건축이 만든 공간, 공간이 남긴 여백, 여백이 주는 생각..
	 				</p>
	 			</div> <!-- /.item -->
	 			<div class="item">
	 				<img src="../images/people.jpg" alt="Juwel" class="reviewer">
	 				<h3>
	 					n****e
	 				</h3>
	 				<p class="addr">
	 					도시는 무엇으로 사는가
	 				</p>
	 				<div class="review-gain">
	 					<i class="ion-star"></i>
		 				<i class="ion-star"></i>
		 				<i class="ion-star"></i>
		 				<i class="ion-star"></i>
						<i class="ion-ios-star-half"></i>
	 				</div>
	 				<p class="details">
	 					건축에 대한 새로운 생각을 하게 되는 책입니다.
	 				</p>
	 			</div> <!-- /.item -->
	 			<div class="item">
	 				<img src="../images/people.jpg" alt="Rasakw" class="reviewer">
	 				<h3>
	 					lo**076
	 				</h3>
	 				<p class="addr">
	 					어디서 살 것인가
	 				</p>
	 				<div class="review-gain">
	 					<i class="ion-star"></i>
		 				<i class="ion-star"></i>
		 				<i class="ion-star"></i>
		 				<i class="ion-star"></i>
		 				<i class="ion-ios-star-half"></i>
	 				</div>
	 				<p class="details">
	 					건축의 의미와 가치를 재밌게 쓴 책
	 				</p>
	 			</div> <!-- /.item -->
	 			<div class="item">
	 				<img src="../images/people.jpg" alt="Yeeak" class="reviewer">
	 				<h3>
	 					ddarulove
	 				</h3>
	 				<p class="addr">
	 					모더니즘
	 				</p>
	 				<div class="review-gain">
	 					<i class="ion-star"></i>
		 				<i class="ion-star"></i>
		 				<i class="ion-star"></i>
		 				<i class="ion-star"></i>
		 				<i class="ion-star"></i>
	 				</div>
	 				<p class="details">
	 					우연히 발견한 보물같은 책
	 				</p>
	 			</div> <!-- /.item -->
	 			<div class="item">
	 				<img src="../images/people.jpg" alt="Juwel" class="reviewer">
	 				<h3>
	 					SPG
	 				</h3>
	 				<p class="addr">
	 					도시는 무엇으로 사는가
	 				</p>
	 				<div class="review-gain">
	 					<i class="ion-star"></i>
		 				<i class="ion-star"></i>
		 				<i class="ion-star"></i>
		 				<i class="ion-star"></i>
	 				</div>
	 				<p class="details">
	 					골목과 마당이 있는 집을 꿈꾸게 한다
	 				</p>
	 			</div> <!-- /.item -->
	 			<div class="item">
	 				<img src="../images/people.jpg" alt="Rasakw" class="reviewer">
	 				<h3>
	 					chlalsgur01
	 				</h3>
	 				<p class="addr">
	 					공간이 만든 공간
	 				</p>
	 				<div class="review-gain">
	 					<i class="ion-star"></i>
		 				<i class="ion-star"></i>
		 				<i class="ion-star"></i>
		 				<i class="ion-star"></i>
		 				<i class="ion-star"></i>
	 				</div>
	 				<p class="details">
	 					생각을 열어주는 책
	 				</p>
	 			</div> <!-- /.item -->
	 		</div> <!-- /.owl-carousel -->
 		</div> <!-- /.container -->
 	</section> <!-- /#reviews -->



 	<section class="blog section-wrapper" id="blog">
 		<div class="container">
 			<div class="row">
 				<div class="col-sm-8 blog-left">
 					<img src="../images/yoo.png" alt="blogger" class="blogger">
 					<div class="blogger-id">
	 					<div class="blogger-title">Yoo Hyun joon</div>
	 					<div class="id">Architect, Writer, Professor...</div>
 					</div>
 					<p class="light">
 						건축으로 세상을 조망하고 사유하는 인문 건축가
 					</p>
 					<p class="body">
						홍익대학교 건축도시대학 교수 / (주)유현준건축사사무소 대표건축사 / SCG 대표건축사
 					</p>
 				</div> <!-- /.col-sm-8 -->
 				<div class="col-sm-4">
 					<h2>
 						Presentations
 					</h2>
 					<p class="sub">
 						Stop by and meet the author
 					</p>
 					<p class="place">
 						예술특강 - 경주예술의전당 화랑홀
 					</p>
					<p class="book-icon">
						<i class="ion-calendar"></i> 03/03/2021 <i class="ion-clock"></i> 2:00PM <i class="ion-android-compass"></i>
					</p>
 					<p class="light">
 						<del>포스트 코로나 시대의 공간 북콘서트 2020,</del>
 					</p>
 					<p class="light">
 						<del>IFEZ 경관 아카데미 2020,</del>
 					</p>
 					<p class="light">
 						<del>우리가 사는 도시이야기 2019,</del>
 					</p>
					<p class="light">
						<del>가나문화포럼 19기 2019</del>
					</p>
 				</div>
 			</div> <!-- /.row -->
 		</div> <!-- /.container -->
 	</section> <!-- /#blog -->



 	<section class="cta-2">
 		<div class="container">
 			<div class="row">
 				<div class="col-sm-8">
 					<h4>
 						저자 도서 검색
 					</h4>
 					<p class="subt">
 						유현준 교수의 <strong>다양한 저서들을</strong> 만나보세요.
 					</p>
 				</div>
 				<div class="col-sm-4">
 					<a th:href="@{https://book.naver.com/search/search.nhn?query=%EC%9C%A0%ED%98%84%EC%A4%80&frameFilterType=1&frameFilterValue=5000020824}" class="btn btn-default btn-lg bttn">도서 검색</a>
 				</div>
 			</div> <!-- /.row -->
 		</div> <!-- /.container -->
 	</section> <!-- /.cta-2 -->


 	<section class="contact section-wrapper" id="contact">
 		<div class="container">
 			<div class="row">
 				<div class="col-sm-6">
 					<h2>
 						Contact Author
 					</h2>
 					<p class="sub">
 						Say Hi or pretend to
 					</p>
 					<p class="address">
 						<strong>27, Dosan-daero 54-gil,</strong><br>
						Gangnam-gu,<br>
 						Seoul, Republic of Korea
 					</p>
 					<p class="call">
 						02 1234 5678 <br>
 						yoohj@email123.com
 					</p>
 				</div>
 				<div class="col-sm-6 contactform">
			    	<form action="contact-form.php" id="contactForm" method="post" name="contactform" class="" role="form">
				        <!-- Name -->
                      	<div class="row">
                            <div class="col-sm-6">
							<!-- E-Mail -->
                            	<div class="form-group">
                                    <input type="text" class="form-control form-control-white" id="name" name="name" placeholder="Name" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
							<!-- Phone Number -->
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-white" id="email" name="email" placeholder="e-Mail" required>
                                </div>
                            </div>
                        </div>
						<!-- Message Area -->
                        <div class="form-group">
                            <textarea class="form-control form-control-white" id="message" name="massage" placeholder="Message" required></textarea>
                        </div>
							<!-- Subtmit Button -->
                        <button type="submit" class="btn btn-send" input id="cfsubmit" value="Say Hello">
                                Tell me what you want
                        </button>
                    </form>
			  	</div>
 			</div> <!-- /.row -->
 		</div> <!-- /.container -->
 	</section> <!-- /.contact --> <!-- /#contact -->

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					&copy; 2021
				</div>
				<div class="col-sm-4 text-center">
					<span class="social-icons">
						<a th:href="@{https://www.instagram.com/hyunjoon88/}"><i class="ion-social-instagram"></i></a>
					</span>
				</div>
				<div class="col-sm-4">
					<div class="themewagon">
						Themed By <a href="http://www.themewagon.com">themewagon</a>
					</div>
				</div>
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</footer>



	<script src="../js/jquery-1.11.2.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/contact.js"></script>
	<script src="../js/smoothscroll.js"></script>
	<script src="../js/script.js"></script>






</body>
</html>