<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/index :: setContent(~{this::content})}">

    <th:block th:fragment="content">
        <h1 class="mt-4">Book List Page
            <span>
                <a th:href="@{/book/register}">
                    <button type="button" class="btn btn-outline-primary">WRITE</button>
                </a>
            </span>
        </h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Publisher</th>
                <th scope="col">Publish Day</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="dto : ${result.dtoList}">
                <th scope="row"><a th:href="@{/book/read(pno = ${dto.pno}, page=${result.page})}">[[${dto.pno}]]</a></th>
                <td>[[${dto.name}]]</td>
                <td>[[${dto.publisher}]]</td>
                <td>[[${dto.pday}]]</td>
            </tr>

            </tbody>
        </table>

        <!-- pagination -->
        <ul class="pagination h-100 justify-content-center align-items-center">

            <li class="page-item" th:if="${result.prev}">
                <a class="page-link" th:href="@{/book/list(page = ${result.start - 1})}" tabindex="-1">Previous</a>
            </li>

            <li th:class="'page-item' + ${result.page == page ? 'active':''}" th:each="page : ${result.pageList}">
                <a class="page-link" th:href="@{/book/list(page = ${page})}">[[${page}]]</a>
            </li>

            <li class="page-item" th:if="${result.next}">
                <a class="page-link" th:href="@{/book/list(page = ${result.end + 1})}">Next</a>
            </li>

        </ul>


    </th:block> <!-- th:fragment="content" -->

</th:block> <!-- th:replace -->

</html>